<div id="center-text">
	<h2>ChatBox UI</h2>
	<p>Message send and scroll to bottom enabled </p>
</div>
<div id="body">

	<div *ngIf="!showChat" id="chat-circle" class="btn btn-raised" (click)="onToggleChat()">
		<div id="chat-overlay"></div>
		<i class="material-icons">speaker_phone</i>
	</div>

	<div *ngIf="!!showChat" class="chat-box">
		<chat-header [imgUrl]="user.avatarUrl" [title]="user.name" (toggleChat)="onToggleChat()"></chat-header>
		<div class="chat-box-body">
			<div class="chat-box-overlay">
			</div>
			<div class="chat-logs">
				<message-list [list]="messageList"></message-list>
			</div>
			<!--chat-log -->
		</div>
		<div class="chat-input">
			<input [(ngModel)]="message" required type="text" id="chat-input" placeholder="Send a message..." />
			<button (click)="onSubmit()" type="submit" class="chat-submit" id="chat-submit">
				<i class="material-icons">send</i>
			</button>
		</div>
	</div>
</div>